.header {
  height: 4.5rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--gray-4);

  border-bottom: 1px solid var(--gray-3);
}

@media (max-width: 580px) {
  .header {
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}