:root {
  --font-primary: "Inter", sans-serif;

  --color-primary: #ff577f;
  --color-primary-focus: #ff427f;
  --color-primary-negative: #59323f;
  --gray-4: #121214;
  --gray-3: #212529;
  --gray-2: #343b41;
  --gray-1: #868e96;
  --gray-0: #f8f9fa;
  --white: #ffffff;
  --sucess: #3fe864;
  --negative: #e83f5b;

  --title1: 1.125rem;
  --title2: 1rem;
  --headline: 0.75rem;
  --paragraph: 1rem;

  --radius: 0.25rem;

  --weight1: 700;
  --weight2: 600;
  --weight3: 500;
  --weight4: 400;
}
