* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-primary);
}

button {
  cursor: pointer;

  background-color: transparent;

  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 150px;
  height: 40px;
}
