* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  border: transparent;
  background-color: transparent;
  outline: none;
}

input {
  border: none;
  border: transparent;
  outline: none;
}