.title {
  color: var(--gray-0);
  font-weight: var(--weight1);

  font-size: var(--title1);
  line-height: 1.75rem;

  &.text {
    color: var(--white);
    font-weight: var(--weight4);

    font-size: var(--title2);
    line-height: 1.5225rem;
  }
}

.label {
  color: var(--gray-0);
  font-weight: var(--weight4);

  font-size: var(--headline);
}

.smText {
  color: var(--gray-1);
  font-weight: var(--weight2);

  font-size: var(--headline);
  line-height: 1.125rem;

  &.register {
    font-weight: var(--weight4);

    line-height: 1.375rem;
  }
}

input::placeholder {
  font-size: var(--title2);
  line-height: 1.6494rem;

  font-weight: var(--weight4);
  color: var(--gray-1);
}

.paragraph {
  font-size: var(--title2);
  line-height: 1.5225rem;

  font-weight: 400;
  color: var(--white);
}
