.form {
  width: 23.0625rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 2rem;

  background-color: var(--gray-3);

  border-radius: var(--radius);

  h2 {
    text-align: center;
    padding-top: 2rem;
  }

  button:hover {
    transform: scale(1.08);
    transition: 0.5s;

    background-color: var(--color-primary-focus);
  }

  .emailInputDiv {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    width: 20.3125rem;
    margin: 0 auto;

    .emailInput {
      height: 2.6rem;

      background-color: var(--gray-2);
      color: var(--gray-0);

      border-radius: var(--radius);

      padding-left: 1rem;
    }

    .emailInput:focus {
      border: 0.0625rem solid var(--gray-0);
    }

    .error {
      border: 0.0625rem solid var(--negative);
    }
  }

  .passwordInputDiv {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    width: 20.3125rem;
    margin: 0 auto;

    position: relative;

    .passwordInput {
      height: 2.6rem;

      background-color: var(--gray-2);
      color: var(--gray-0);

      border-radius: var(--radius);

      padding-left: 1rem;
      position: relative;
    }

    .passwordInput:focus {
      border: 0.0625rem solid var(--gray-0);
    }

    .error {
      border: 0.0625rem solid var(--negative);
    }

    .icon {
      color: var(--gray-1);
      position: absolute;
      top: 2.6rem;
      right: 1rem;

      cursor: pointer;
    }
  }

  p {
    font-size: var(--headline);

    color: var(--negative);
  }

  .bottomDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 20.3125rem;

    margin: 1.2rem auto 2.5rem auto;

    p {
      text-align: center;
    }

    span {
      text-align: center;
    }

    button:hover {
      transform: scale(1.08);
      transition: 0.5s;

      background-color: var(--gray-2);
    }
  }
}

@media (max-width: 380px) {
  .form {
    width: 22rem;
  }
}
