.card {
  height: 3.4375rem;
  margin: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  background-color: var(--gray-4);
  border-radius: var(--radius);

  .cardDiv {
    display: flex;
    gap: 0.5rem;

    .textDiv {
      display: flex;
      gap: 0.5rem;
    }

    .iconsDiv {
      display: flex;
      gap: 0.5rem;

      .editIcon,
      .deleteIcon {
        height: 1.1875rem;
        width: 1.1875rem;

        color: var(--white);

        transition: transform 0.5s;
        cursor: pointer;
      }

      .editIcon:hover {
        transform: scale(1.2);
        transition: 0.5s;

        color: var(--sucess);
      }

      .deleteIcon:hover {
        transform: scale(1.2);
        transition: 0.5s;

        color: var(--negative);
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    height: 5.3125rem;

    flex-direction: column;
    align-items: normal;

    padding: 0.8888rem 1.0625rem;

    .cardDiv {
      width: 100%;

      justify-content: space-between;
    }
  }
}
