.topDiv {
  width: 23.125rem;

  display: flex;
  justify-content: space-between;

  margin-top: 2rem;
}

.form {
  width: 23.125rem;

  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border-radius: var(--radius);

  background-color: var(--gray-3);

  .textsDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
  }

  .inputsDiv {
    width: 20.6206rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin: 0 auto;

    input {
      height: 2.6rem;

      padding-left: 1rem;

      background-color: var(--gray-2);
      color: var(--gray-0);
      border-radius: var(--radius);
    }

    input:focus {
      border: 0.0625rem solid var(--gray-0);
    }

    select {
      height: 2.6rem;

      padding-left: 1rem;

      background-color: var(--gray-2);
      color: var(--gray-1);
      border-radius: var(--radius);
    }
  }

  .passwordInputDiv {
    width: 20.6206rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin: 0 auto;

    position: relative;

    .passwordInput {
      height: 2.6rem;

      padding-left: 1rem;

      background-color: var(--gray-2);
      color: var(--gray-0);
      border-radius: var(--radius);
    }

    .iconPassword {
      color: var(--gray-1);
      position: absolute;
      top: 2.6rem;
      right: 1rem;

      cursor: pointer;
    }
  }

  .confirmPasswordInputDiv {
    width: 20.6206rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin: 0 auto;

    position: relative;

    .confirmPasswordInput {
      height: 2.6rem;

      padding-left: 1rem;

      background-color: var(--gray-2);
      color: var(--gray-0);
      border-radius: var(--radius);
    }

    .iconConfirmPassword {
      color: var(--gray-1);
      position: absolute;
      top: 2.6rem;
      right: 1rem;

      cursor: pointer;
    }
  }

  p {
    font-size: var(--headline);

    color: var(--color-primary);
  }
}

@media (max-width: 380px) {
  .form,
  .topDiv {
    width: 22rem;
  }
}